PRESUBMIT.cfg filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
OWNERS.android filter=lfs diff=lfs merge=lfs -text
OWNERS.fuzz filter=lfs diff=lfs merge=lfs -text
seccomp filter=lfs diff=lfs merge=lfs -text
dbus-config filter=lfs diff=lfs merge=lfs -text
LICENSE.UTLIST filter=lfs diff=lfs merge=lfs -text
LICENSE.WEBKIT filter=lfs diff=lfs merge=lfs -text
sof_sys filter=lfs diff=lfs merge=lfs -text
sound_card_init filter=lfs diff=lfs merge=lfs -text
ubsan_blocklist.txt filter=lfs diff=lfs merge=lfs -text
unblocked_terms.txt filter=lfs diff=lfs merge=lfs -text
audio_streams filter=lfs diff=lfs merge=lfs -text
cras-config filter=lfs diff=lfs merge=lfs -text
LICENSE.SUPERFASTHASH filter=lfs diff=lfs merge=lfs -text
defs filter=lfs diff=lfs merge=lfs -text
init filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
ucm-config filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
cras filter=lfs diff=lfs merge=lfs -text
cros_alsa filter=lfs diff=lfs merge=lfs -text
